@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
.folder{
    position: absolute;
}
.cardBody {
    display: flex;
    // justify-content: center;
    // align-items: center;
    // min-height: 35rem;
    width: 100%;
    // background: #36454F;
}
.gridCard{
    min-height: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(335px, 1fr));
    gap: 5rem 3.4rem;
}

.cardContainer {
    position: relative;
    display: flex;
    width: 100%;
    // grid-template-columns: auto auto auto;
    justify-content: space-between;
    // align-items: center;
    flex-wrap: wrap;
    // gap: 100px 50px;
    // padding: 100px 0px;
}

.cardContainer .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 15vw;
    max-width: 100%;
    height: 300px;
    // background: white;
    border:  2px solid white ;
    border-radius: 20px;
    transition: 1s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    
}

.cardContainer .card:hover {
    height: 400px;
}

.cardContainer .card .img-box {
    position: absolute;
    top: 20px;
    width: 5rem;
    height: 220px;
    // background: #333; 
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.cardContainer .card:hover .img-box {
    top: -100px;
    scale: 0.75;
    // box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.cardContainer .card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cardContainer .card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.cardContainer .card:hover .content {
    top: 130px;
    height: 250px;
}

.cardContainer .card .content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr);
}

.cardContainer .card .content p {
    color: #333;
}

.cardContainer .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: var(--clr);
    color: white;
    font-weight: 500;
}

.cardContainer .card .content a:hover {
    opacity: 0.8;
}

@media (max-width: 480px) {
    .cardContainer .card {
        width: 230px;
        border-radius: 15px;
    }

    .cardContainer .card .img-box {
        width: 185px;
        border-radius: 10px;
    }

    .cardContainer .card .content p {
        font-size: 0.8rem;
    }

    .cardContainer .card .content a {
        font-size: 0.9rem;
    }
}