/* skull */
.skull {
	height: 4em;
	width: 5em;
	background: #fff;
	border-radius: 100%;
	position: relative;
}

.skull::before{
	content: '';
	display: block;
	position: absolute;
	bottom: -0.3em;
	background: white;
	width: 5.5em;
	height: 2em;
	left: 50%;
	margin-left: -2.75em;
	border-radius: 100%;
}

.eye {
	position: absolute;
	background: black;
	height: 1.75em;
	width: 1em;
	border-radius: 100%;
	top: 1em;
	z-index: 100;
}

.eye:first-child {
	right: 50%;
	margin-right: .25em;
}

.eye:last-child {
	left: 50%;
	margin-left: .25em;
}

.teeth {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: -.75em;
	width: 100%;
	right: 0;
}

.tooth {
	background: #fff;
	height: 2em;
	width: 1em;
	border-bottom-left-radius: .75em;
	border-bottom-right-radius: .75em;
	border-bottom: 3px solid black;
} 

.potion {
	background: #fff2ed;
	height: 5em;
	width: 5em;
	border-radius: 100% 100% 70% 70%;
	position: relative;
}

.potion::after {
	content: '';
	display: block;
	background: #fff2ed;
	position: absolute;
	height: 3em;
	width: 2em;
	top: -2em;
	left: 50%;
	margin-left: -1em;
	z-index: -1;
}

.potion::before {
	content: '';
	display: block;
	background: #fff2ed;
	position: absolute;
	height: 1em;
	width: 2.5em;
	top: -2.5em;
	left: 50%;
	margin-left: -1.25em;
	border-radius: 75%;
	z-index: -1;
}

.liquid {
	background: #ff90aa;
	height: 3em;
	width: 4.2em;
	border-radius: 10px 10px 70% 70%;
	position: absolute;
	left: 50%;
	margin-left: -2.1em;
	bottom: .1em;
}

.bubble {
	z-index: 9999;
	animation: bubble 1.8s ease infinite;
  animation-delay: 0.2s;
	background: #ff90aa;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	left: 1.7em;
	bottom: 2em;
	position: absolute;
	opacity: 1;
}

.bubble.two {
	z-index: 9999;
	animation: bubble 1.5s ease infinite;
  animation-delay: 0.1s;
	background: #ff90aa;
	height: 10px;
	width: 10px;
	border-radius: 100%;
	left: 1.5em;
	bottom: 2em;
	position: absolute;
	opacity: 1;
}

.bubble.three {
	z-index: 9999;
	animation: bubble 1.5s ease infinite;
  animation-delay: -0.1s;
	background: #ff90aa;
	height: 10px;
	width: 10px;
	border-radius: 100%;
	left: 1.8em;
	bottom: 2em;
	position: absolute;
	opacity: 1;
}

@keyframes bubble {
  0% {
		opacity: 1;
  }
	100% {
		opacity: 0;
    bottom: 9em;

  }
}
/* BOOK BINDINGS */
.nav-book-bg {
    overflow: hidden;
    height: 5rem;
    margin: 2px;
    cursor: pointer;
    transition: margin 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
      transform 0.3s ease-in-out;
    filter: grayscale(25%);
    border-radius: 4px;
    background: grey;
    box-shadow: 0 0.5rem 1rem 0rem rgba(0, 0, 0, 0.4);
    border-top-style: solid;
    border-top-width: 1px;
    border-image: linear-gradient(
      to right,
      #333,
      #333 15%,
      antiquewhite 30%,
      antiquewhite 70%,
      #333 85%,
      #333
    );
    border-image-slice: 1;
    order: 200;
  }
  .nav-book-bg:hover {
    box-shadow: 0 0.5rem 3rem -0.5rem rgba(0, 0, 0, 0.4);
    z-index: 10;
    margin-top: -5px;

    transform: scale(1.13, 1.13);
  }
  
  /* TITLE SHADOWS */
  .nav-book h1,
  h2,
  h3,
  h4,
  h5 {
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
  }
  .web .nav-book h1,
  h3 {
    text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.6);
  }
  /* END TITLE SHADOWS */
  
  /* DEFAULT BOOK ATTRIBUTES */
  .nav-book {
    display: flex;
    height: 100%;
    width: 100%;
    box-shadow: inset -0.35rem 0 0.5rem rgba(0, 0, 0, 0.4),
      inset 0.35rem 0 0.5rem rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
  }
  
  /* GRAPHIC DESIGN */
  .graphic .nav-book {
    align-items: center;
    background: radial-gradient(
        ellipse at top,
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.75)
      ),
      radial-gradient(ellipse at bottom, rgba(70, 70, 70, 0.5), transparent);
    font-family: "Unica One", cursive;
    color: darkorange;
  }
  /* END GRAPHIC DESIGN */
  
  /* DATA VISUALIZATION */
  .data .nav-book {
    background: radial-gradient(
        ellipse at top,
        rgba(50, 10, 87, 0.55),
        rgba(0, 0, 0, 0.75)
      ),
      radial-gradient(ellipse at bottom, rgba(70, 70, 70, 0.5), transparent);
    font-family: "Smooch Sans", sans-serif;
    color: rgb(221, 206, 206);
  }
  /* END DATA VISUALIZATION */
  
  /* PHOTOGRAPHY */
  .photo .nav-book {
    background: radial-gradient(
        ellipse at top,
        rgba(189, 147, 189, 0.55),
        rgba(0, 0, 0, 0.85)
      ),
      radial-gradient(ellipse at bottom, rgba(185, 154, 154, 0.5), transparent);
    font-family: "Nothing You Could Do", cursive;
    color: #212121;
  }
  /* END PHOTOGRAPHY */
  
  /* LANDSCAPE DESIGN */
  .landscape .nav-book {
    background: radial-gradient(
        ellipse at top,
        rgba(2, 95, 18, 0.55),
        rgba(0, 0, 0, 0.75)
      ),
      radial-gradient(ellipse at bottom, rgba(70, 70, 70, 0.5), transparent);
    font-family: "Fredericka the Great", cursive;
    color: rgb(247, 229, 192);
  }
  /* END LANDSCAPE DESIGN */
  
  /* CREATIVE WRITING */
  .writing .nav-book {
    background: radial-gradient(
        ellipse at top,
        rgba(94, 15, 6, 0.76),
        rgba(0, 0, 0, 0.75)
      ),
      radial-gradient(ellipse at bottom, rgba(70, 70, 70, 0.5), transparent);
    font-family: "Lora", serif;
    color: rgb(216, 191, 191);
  }
  /* END CREATIVE WRITING */
  
  /* WEB DESIGN */
  .web .nav-book {
    background: radial-gradient(
        ellipse at top,
        rgba(255, 255, 255, 0.63),
        rgba(0, 0, 0, 0.75)
      ),
      radial-gradient(ellipse at bottom, rgba(70, 70, 70, 0.5), transparent);
    font-family: "Inconsolata", monospace;
    color: #333;
  }
  /* END WEB DESIGN */