@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root
{
     position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    /* background: #241a1a; */
    // background-image: url("./images/wallpaper-day.jpg");
    object-fit: cover;
}
.EmbedContainer{
  height: 100%;
  width: auto;
  background-image: url("./images/wallpaper-day.jpg");
  object-fit: cover;

}


.outer {
  background: #b4b4b4;
  opacity: 0.9;
  border-radius: 7px 7px 0px 0px;
  
  &.dark {
    background: linear-gradient(90deg, #22303C 10rem, #1B1E1F 10rem);
  }

  &.yosemite {
    background: #f6f6f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #dadada 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#dadada 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#dadada 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#dadada 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
    border: 1px solid #d8d8d8;
    border-bottom: 1px solid #b4b4b4;
  }
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 4px 0 0;
  
  &.red {
    background: #FF6057;
    border: 1px solid #E14640;
  }

  &.amber {
    background: #FFBD2E;
    border: 1px solid #DFA123;
  }

  &.green {
    background: #27C93F;
    border: 1px solid #1DAD2B;
  }
}


.wrapper {
    // padding: 10px;
    width: 62.5rem;
    height: 40rem;
    /* transform: scale(1); */
    transform-origin: top left;
  }

  .content {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    /* background-color: green; */
    padding: 0;
    overflow-y: auto;
  }
  ::-webkit-scrollbar {
    display: none;
}
canvas
{
    touch-action: none;
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  background-image: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 8s;
  z-index: 1;
  font-family: "Almendra", serif;
}

.loadingScreen__board {
  padding: 64px;
  background-color: rgb(22 160 75 / 42%);
  border-radius: 24px;
  text-align: center;
  border: dashed 6px rgb(0 0 0 / 12%);
  transition: opacity 0.4s;
}

.loadingScreen__title {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  margin-bottom: 8px;
}

.loadingScreen__button {
  padding: 8px 32px;
  background-color: rgba(0, 0, 0, 0.24);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 2.5rem;
  border-radius: 8px;
  transition: background-color 0.4s;
  font-family: "Almendra", serif;
}

.loadingScreen__button:hover {
  background-color: rgba(0, 0, 0, 0.42);
  cursor: pointer;
}

.loadingScreen__button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.loadingScreen__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12px;
}

.loadingScreen__progress__value {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 50%);
  transition: width 0.4s;
}

.loadingScreen--started {
  opacity: 0;
  pointer-events: none;
}

.loadingScreen--started .loadingScreen__board {
  opacity: 0;
}